node_modules
.env
.env.*
!.env.example
dist
keys
*.keystore
*.jks
**/*.keystore
google-services.json
GoogleService-Info.plist
test-results.xml
firebase-debug.log
/playwright-report/
/test-results/
/playwright/.cache/

